<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cancel</title>
</head>
<body>
    <h1>Transication cancel</h1>
    <img src="../../../images/justYouLogo.png" alt="Just You Logo" height="170" width="390">

    <form name="returnToApp" action="justyou-app://authorize/cancel">
        <button type="submit" class="btn centerButton">Back To Just You App</button>
    </form>
</body>
</html>
