<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/success.css">

    <title>success</title>
</head>
<body>
    <h1>Transication success</h1>

    <img src="../../../images/justYouLogo.png" alt="Just You Logo" height="170" width="390">
    <div class="centerImage"> The order was completed successfully!
        
        your order wes succesfully processed using paypal,
        check your email for your receipt.</div>

    <form name="returnToApp" action="justyou-app://authorize">
        <button type="submit" class="btn centerButton">Back To Just You App</button>
   </form>
</body>
</html>