.centerImage{
    background: #000000 url(/./images/justYouLogo.png) no-repeat center top;
    background-size: cover; 
}
.btn{
    padding: 8px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #9999;
}
.centerButton{
    align-self: center;
}